@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul, a, li {
  list-style: none;
  text-decoration: none;
}

nav .nav_box h3 {
  font-family: "Martel", serif;
}
nav .nav_box .nav_elements ul {
  font-family: "Open Sans", sans-serif;
}
nav .legalpro h1 {
  font-family: "Martel", serif;
}
nav .legalpro h4 {
  font-family: "Montserrat", sans-serif;
}
nav .legalpro button {
  font-family: "Open Sans", sans-serif;
}
nav .navbarcard h3 {
  font-family: "Martel", serif;
}
nav .navbarcard p {
  font-family: "Open Sans", sans-serif;
}

main .every_client .every_written h2 {
  font-family: "Martel", serif;
}
main .every_client .every_written p {
  font-family: "Open Sans", sans-serif;
}
main .every_client .every_cards .every_card_elments h2 {
  font-family: "Martel", serif;
}
main .every_client .every_cards .every_card_elments h5 {
  font-family: "Martel", serif;
}
main .practice_advice h5 {
  font-family: "Martel", serif;
}
main .practice_advice p {
  font-family: "Open Sans", sans-serif;
}
main .practice_advice .practice_written h2 {
  font-family: "Martel", serif;
}

nav {
  width: 100%;
  height: 866px;
  background-image: url("/assets/img/navbackground.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .nav_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .nav_box .nav_elements {
  width: 33%;
}
nav .nav_box .nav_elements ul {
  display: flex;
  justify-content: space-around;
}
nav .nav_box .nav_elements ul li a {
  color: #737373;
}
nav .legalpro {
  width: 509px;
  display: flex;
  flex-direction: column;
  padding: 200px;
}
nav .legalpro h1 {
  font-size: 58px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252B42;
}
nav .legalpro h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
nav .legalpro .btn {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
nav .legalpro .btn button {
  width: 182px;
  height: 42px;
  border-radius: 37px;
  border-color: #784F33;
}
nav .navbarcard {
  display: flex;
  justify-content: center;
  gap: 30px;
}
nav .navbarcard .navcard1 {
  width: 328px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .navbarcard .navcard1 h3 {
  color: #252B42;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
nav .navbarcard .navcard1 p {
  width: 199px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
nav .navbarcard .navcard1 img {
  height: 44px;
  width: 44px;
  left: 0x;
  top: 0px;
  border-radius: 0px;
}
nav .navbarcard .navcard2 {
  width: 328px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .navbarcard .navcard2 h3 {
  width: 164px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
nav .navbarcard .navcard2 p {
  width: 203px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
nav .navbarcard .navcard2 img {
  height: 44px;
  width: 44px;
  left: 0x;
  top: 0px;
  border-radius: 0px;
}
nav .navbarcard .navcard3 {
  width: 328px;
  background-color: #295C7A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
nav .navbarcard .navcard3 h3 {
  width: 184px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
nav .navbarcard .navcard3 p {
  width: 196px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
nav .navbarcard .navcard3 img {
  height: 44px;
  width: 44px;
  left: 0x;
  top: 0px;
  border-radius: 0px;
}

img {
  width: 100%;
  top: 0;
}

main {
  width: 100%;
  background-color: #FAFAFA;
}
main .every_client {
  height: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .every_client .every_written {
  width: 864px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .every_client .every_written h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #252B42;
}
main .every_client .every_written p {
  width: 468px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
}
main .every_client .every_cards {
  display: flex;
  gap: 10px;
}
main .every_client .every_cards .every_card_elments {
  width: 230px;
  height: 202px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .every_client .every_cards .every_card_elments img {
  width: 48px;
  height: 48px;
}
main .practice_advice {
  height: 699px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .practice_advice .practice_written {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .practice_advice .practice_written h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #252B42;
}
main .practice_advice .practice_written p {
  width: 431px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
}
main .practice_advice .practice_cards {
  width: 230px;
  height: 341px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 39.5px;
}
main .practice_advice .practice_cards .practice_card_elements {
  width: 230px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .practice_advice .practice_cards .practice_card_elements h5 {
  height: 48px;
  width: 81px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
main .practice_advice .practice_cards .practice_card_elements p {
  padding-top: 20px;
  width: 145px;
  height: 80px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
main .practice_advice .practice_cards .practice_card_elements img {
  width: 230px;
  height: 138px;
}/*# sourceMappingURL=main.css.map */